# ignores all "passwords.txt" files
# even the ones inside subfolders
passwords.txt

# ignores only the "passwords.txt" inside the site folder
# does not check any subfolders
/passwords.txt

# ignores all folders called "ignore-me" and all files they contain
ignore-me/

# / prefix also works for folders. this only checks the site folder
/ignore-me/

# the syntax is just like regular file paths
# /assets/singing-karkalicious-in-the-shower.mp3
# /assets/unused/
# /art/2023/doodles/
/wipdump/
# ignores all html files (everything ending with .html)
# "*" is basically a "fill-in-the-blank" character
# *.html

# ignore banned free account file types
*.mp*
*.ogg
*.wav
.DS_Store
.vscode